body, html
    padding: 0
    margin: 0
    width: 100%
    height: 100%
    
    &::-webkit-scrollbar    
        width: 0

#background
    position: fixed
    width: 100%
    height: 100%
    background-image: url(./image0.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-color: #303030fb
    z-index: -1
    @media screen and ( max-width: 1343px )
        background-image: url(./image1.jpg)
    @media screen and ( max-width: 756px )
        background-size: auto 100%

h1
    margin: 0
    padding:
        top: 48px
    width: 100%
    text-align: center
    font-size: 4em
    color: #ffff
    font-family: 'Maximum Impact', sans-serif

.Text
    width: 100%
    text-align: center
    color: #ffff
    font-size: 1.4em
    line-height: 1.4
    margin: 
        top: 40px
        bottom: 40px

a
    color: #08c
    text-shadow: 1px 1px white

p
    text-align: center
    width: 100%
    height: 10px
    color: #ffff


#pa
    position: relative
    top: 10000px
    width: 100%
    text-align: center
    font-size: 4em

#WTF
    width: 100%
    position: relative
    top: 20000px
    margin-bottom: 50px

    video
        text-align: center
        margin: 0 auto
        display: block

    div
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-60%, -50%)
        width: 200px
        height: 80px
        background-color: #000000
        color: #ffff
        text-align: center
        line-height: 80px

.young-close
    opacity: 0
    width: 0
    height: 0

    img
        width: 0
        height: 0

.young-open
    opacity: 1
    width: 100%
    height: 100%
    position: fixed
    background-color: #000000bd

    img
        margin: 0 auto
        display: block
        height: 100%
